<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('shared/head.ejs') %>
</head>
<body>
  <%- include('shared/header.ejs', {user: {name: 'xd'}}) %>
  <div class="content">asas</div>
  <%- include('shared/footer.ejs', {user: {name: 'xd'}}) %>
</body>
</html>